@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    height: 5rem;
    background-color: rgb(14, 91, 138);
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    align-items: center;
}

.logo {
    font-weight: bold;
    color: white;
    font-size: 40px;
}

.container {
    margin: auto;
    /* width: 50%; */
}

.col1 {
    border: 1px solid red;
    /* float: right; */
    width: 50%;

}

.col2 {
    border: 1px solid green;
    float: left;
    width: 50%;
    /* clear: both; */
}